name: CSV Validation workflow

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: CSV Validation
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: npm install
    - run: npm run csv:validate
